*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* Color de fondo predeterminado */
  color: #000; /* Color de texto predeterminado */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    width: 60px; /* Ajusta el tamaño del logo según sea necesario */
}

.search-bar input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: none;
    width: 200px; /* Ajusta el ancho del campo de búsqueda según sea necesario */
}

.search-bar button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

#menu-toggle {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

#menu-toggle i {
  vertical-align: middle;
}

.menu-lateral {
  background-color: #333;
  color: #fff;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -250px; /* Esto oculta el menú lateral inicialmente */
  width: 250px;
  height: 100%;
  background-color: #333;
  transition: left 0.3s ease; /* Transición suave para animar el desplazamiento del menú */
  z-index: 9999;
}

.menu-visible {
  left: 0; /* Muestra el menú lateral cuando tiene la clase menu-visible */
}

.menu-lateral ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-lateral li {
  margin-bottom: 10px;
  position: relative; /* Añadido para posicionar los dropdown correctamente */
}

.menu-lateral a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
}

.menu-lateral a:hover {
  background-color: #222;
}

.dropdown2 {
  display: none;
  position: absolute;
  top: 100%; /* Añadido para que los dropdown aparezcan debajo de los elementos padre */
  left: 0;
  background-color: #fff;
  color: #333;
  width: 100%;
  z-index: 9;
}

.menu-lateral li:hover .dropdown {
  display: block;
}

.dropdown2 li {
  margin-bottom: 0;
}


/* Mostrar el submenú cuando el elemento padre está siendo "hovered" */
li:hover .dropdown2 {
    display: block;
}


.dropdown2 a {
  padding: 10px 15px; /* Ajuste de espaciado */
  display: block; /* Para que los enlaces ocupen toda la anchura */
}

.dropdown2 a:hover {
  background-color: #ddd;
}

/*para modos de temas*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #333;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #555;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/*contenedor para las tarjetas*/

.container-app {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 800px; /* Ancho máximo del contenedor */
  margin: 0 auto 10px; /* Centramos horizontalmente y agregamos un margen en la parte superior */
  justify-content: center; /* Centramos horizontalmente las tarjetas */
  margin-top: 10px;
}

.card {
  width: calc(50% - 16px); /* Establecemos el ancho de la tarjeta para dos columnas */
  max-width: 350px; /* Ancho máximo de la tarjeta */
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-bottom: 16px;
  position: relative;
}


.tag {
  font-size: 14px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 8px;
  position: absolute;
}

.new {
  color: red;
  -webkit-text-stroke: 0.9px white; /* Para navegadores basados en WebKit como Chrome y Safari */
    font-weight: bold;
  top: 20px;
  right: 65%;
  z-index: 1;
}

.mod {
  background-color: #3f51b5;
  color: #ffffff;
  top: 51%;
  left: 48%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.content {
  position: relative;
}

.app-icon {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 16px;
}

.text-container {
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  min-height: 75px; /* Establecer un alto mínimo para el contenedor del título */
}


.category,
.size {
  font-size: 14px;
  color: #888888;
  margin-bottom: 10px;
}

.btns {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas del mismo tamaño */
    gap: 8px; /* Espacio entre los botones */
}

.btns a {
    text-align: center; /* Centramos el texto horizontalmente */
    padding: 8px; /* Añadimos espacio interno */
    border-radius: 8px; /* Añadimos bordes redondeados */
    background-color: #ddd; /* Color de fondo de los botones */
    color: #333; /* Color del texto de los botones */
    text-decoration: none; /* Quitamos el subrayado de los enlaces */
}

/*estilos para el pop up*/

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  width: 400px; /* Ancho del pop-up */
  max-width: 90%; /* Máximo ancho del pop-up */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.popup img.app-icon {
  max-width: 100px; /* Ancho máximo de la imagen */
  height: auto;
  margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}

.popup h2.title-app {
  font-size: 1.5em; /* Tamaño de la fuente del título */
  margin-bottom: 10px; /* Espacio entre el título y el siguiente párrafo */
}

.popup p {
  margin-bottom: 8px; /* Espacio entre los párrafos */
}

.popup a.link-descarga {
  display: inline-block; /* Mostrar como bloque en línea */
  background-color: #007bff; /* Color de fondo del enlace */
  color: #fff; /* Color del texto del enlace */
  padding: 8px 16px; /* Espacio interno */
  text-decoration: none; /* Sin subrayado */
  border-radius: 4px; /* Borde redondeado */
  margin-top: 10px; /* Espacio superior */
}

.popup a.link-descarga:hover {
  background-color: #0056b3; /* Color de fondo del enlace al pasar el mouse */
}

.popup button {
  display: block; /* Mostrar como bloque */
  margin-top: 10px; /* Espacio superior */
  padding: 8px 16px; /* Espacio interno */
  background-color: #ccc; /* Color de fondo del botón */
  border: none; /* Sin borde */
  cursor: pointer; /* Cursor de puntero */
  border-radius: 4px; /* Borde redondeado */
}

.popup button:hover {
  background-color: #bbb; /* Color de fondo del botón al pasar el mouse */
}

/* Estilos para el pop-up */
.popupS {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  width: 300px; /* Ancho del pop-up */
  max-width: 90%; /* Máximo ancho del pop-up */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.popupS input.linkInput {
  width: 100%; /* El input ocupa todo el ancho del pop-up */
  margin-bottom: 10px; /* Espaciado inferior */
}

.popupS button.btn-copy {
  display: block; /* Mostrar como bloque */
  padding: 8px 16px; /* Espacio interno */
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none; /* Sin borde */
  cursor: pointer; /* Cursor de puntero */
  border-radius: 4px; /* Borde redondeado */
}

.popupS button.btn-copy:hover {
  background-color: #0056b3; /* Color de fondo del botón al pasar el mouse */
}



/* Media query para dispositivos móviles */
@media only screen and (max-width: 768px) {
  .card {
    width: calc(40% - 16px); /* Cambiamos el ancho de la tarjeta para mostrar dos columnas en dispositivos móviles */
  }
}

/* Media query para computadoras */
@media only screen and (min-width: 769px) {
  .card {
    width: calc(20% - 16px); /* Cambiamos el ancho de la tarjeta para mostrar cinco columnas en computadoras */
  }
}


/* Media query para pantallas de 601px a 900px */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .card {
    width: calc(33% - 16px); /* Cambiamos el ancho de la tarjeta para mostrar tres columnas en pantallas medianas */
  }
}