@import url('https://fonts.googleapis.com/css2?family=Anton&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #ffffff;
}

body {
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, rgba(68, 7, 185, 1) 0%, rgba(46, 66, 228, 1) 52%, rgba(58, 95, 205, 1) 99%), no-repeat;
  background-size: cover;
}

.navbar {
  background: linear-gradient(180deg, rgba(68, 7, 185, 1) 0%, rgba(59, 46, 228, 1) 52%, rgba(48, 89, 208, 1) 99%);
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ffffff;

}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

}

.navbar-logo {
  font-size: 1.5rem;
  font-family: "Anton", sans-serif;
}

.logo {
  width: 50%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.container {
  text-align: center;
  padding: 20px;
  text-wrap: balance;
}

.container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

.download-button {
  display: inline-block;
  background-color: #0093EC;
  color: white;
  font-family: "Exo 2", sans-serif;
  padding: 1rem 2rem;
  text-decoration: none;
  margin: 1rem 0;
  border-radius: 20px;
  transition: background-color ease 0.3s;
}

.download-button:hover {
  background-color: #0787D5;
}

.info {
  margin: 0.5rem 0;
  font-size: 17px;
  font-family: "Exo 2", sans-serif;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.rating span {
  padding: 0 0.5rem;
}

.text2 {
  margin-top: 50px;
  font-weight: bold;
  display: none;
  text-wrap: balance;
}

/* Para pantallas de 1025px a 1200px */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
.download-button {
  display: none;
}
  
}

/* Para pantallas de 769px a 1024px */
@media (max-width: 1024px) {
.download-button{
  display: none;
}
  
}

/* Estilo para pantallas más pequeñas */
@media (max-width: 768px) {
  .logo {
    width: 65%;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .navbar-menu {
    display: none;

  }

  .navbar-menu.active {
    display: flex;
    transform: translateY(-8px);
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: linear-gradient(0deg, rgba(68, 7, 185, 1) 0%, rgba(59, 46, 228, 1) 52%, rgba(48, 89, 208, 1) 99%);
    text-align: center;
    z-index: 999;
  }

  .navbar-menu a {
    margin: 0;
    font-family: "Exo 2", sans-serif;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-toggle.active+.navbar-menu {
    display: flex;
  }
  
  .download-button {
    
    display: inline-block;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .download-button {
      display: inline-block;
    }
}